<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <appSettings>
    <add key="SpecFlowDriver" value="Firefox" />
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow></configuration>